@charset "UTF-8";

/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

#caixa1 {
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1; */
    grid-row: 1 / 2; /* shorthand para grid-row-start -> grid-row-end */
    grid-column: 1 / -1; /* shorthand para grid-column-start -> grid-column-end */

    background-color: red;
}

#caixa2 {
    /* grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3; */
    grid-row: 2 / -1;
    grid-column: 1 / span 2; /* span indica que o elemento deve se estender por um certo número de linhas ou colunas, a partir da posição inicial */

    background-color: green;
}

#caixa3 {
    /* grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1; */
    grid-row: 2 / -1;
    grid-column: 3 / -1;

    background-color: blue;
}