@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #3CA6A6, #026773, #024959);
}

main {
    background-color: #F2E3D5;
    border-radius: 10px;
    width: 750px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.326);
}

h1 {
    color: #024959;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.326);
}

h2 {
    color: #012E40;
}

p {
    text-align: justify;
}