@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: rgb(156, 156, 156);

    display: flex;
    flex-flow: column nowrap;
}

article {
    display: flex;
    justify-content: space-between;
}

article.media-text {
    flex-flow: row wrap-reverse;
}

article.text-media {
    flex-flow: row wrap;
}

div.text {
    flex: 1 1 500px;
}

div.media {
    flex: 1 0 400px;
}

div.media img, iframe {
    display: block;
    margin: auto;
}

div.media iframe {
    width: 90%;
}