@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('assets/fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/* Pseudoclasse para definir propriedades CSS globais */
:root {
    /* O prefixo "--" referencia variáveis em CSS */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}

/* Seletor de configurações globais */
* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
}

img.pequena {
    width: 50%;
    display: block; /*Necessário para centralização, pois a imagem por padrão não é um bloco*/
    margin: auto;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.200);
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding-top: 30px;
}

header > p {
    font-size: 1.2em;
    padding: 20px;
    max-width: 500px;
    margin: auto; /* Apesar do text-align no header, é necessário para a centralização, pois, ao colocar uma width, o parágrafo virou uma box. */
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.300);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
}