@charset "UTF-8";

body {
    background-color: rgba(87, 144, 205, 0.677);
    font-family: sans-serif;
    font-size: 20px;
}

h1 {
    color: navy;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}