@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

/*
    id no HTML = # no CSS 
    class no HTML = . no CSS
*/
h1#principal {
    color: darkred;
    text-align: center;
}

h2 {
    color: rgb(129, 94, 6);
}